<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my courses</title>
    <link rel="stylesheet" href="assets/css/my-courses.css" />
    <link
      rel="stylesheet"
      href="bootstrap-5.2.0-beta1-dist/bootstrap-5.2.0-beta1-dist/css/bootstrap.rtl.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <section>
      <!-- dashboard menu -->
      <div class="dashboard-menu">
        <div class="logo">
          <img src="assets/img/white-logo.png" />
          <h1>Satros Web</h1>
        </div>
        <div class="menu">
          <div>
            <i class="fa-solid fa-table-columns d-none d-md-inline-block"></i>
            <a href="dashboard.html">پیشخوان</a>
          </div>
          <div>
            <i class="fa-regular fa-user d-none d-md-inline-block"></i>
            <a href="user-info.html">اطلاعات کاربری</a>
          </div>
          <div>
            <i class="fa-solid fa-graduation-cap d-none d-md-inline-block"></i>
            <a class="active" href="my-courses.html">دوره های من</a>
          </div>
          <div>
            <i class="fa-solid fa-receipt d-none d-md-inline-block"></i>
            <a href="factors.html">مشاهده فاکتور ها</a>
          </div>
        </div>
        <div class="logout">
          <h3>پرهام رحیمی</h3>
          <p>satrosweb@gmail.com</p>
          <button>خروج از حساب</button>
        </div>
      </div>
      <!-- my courses page -->
      <div class="my-courses-page">
        <!-- welcome -->
        <div class="welcome">
          <p>پرهام رحیمی عزیز خوش آمدی!</p>
          <div class="nav-links">
            <a href="index.html"><i class="fa-solid fa-house"></i></a>
            <a href="cart-basket.html"
            ><i class="fa-solid fa-cart-shopping"></i
              ></a>
              <button
              onclick="showMenu()"
              class="burger d-inline-block d-md-none"
              >
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
        <!-- my courses -->
        <div class="my-courses-title">
          <i class="fa-solid fa-graduation-cap"></i>
          <h3>لیست دوره ها و دروس ثبت نام شده</h3>
        </div>
        <!-- my courses container -->
        <div class="my-courses-container">
          <div class="my-course">
            <img src="assets/img/home-course-card.jpg">
            <h4>دوره زبان انگلیسی سطح B1</h4>
            <a href="course.html">مطالعه دوره آموزشی</a>
            <p>خریداری شده</p>
          </div>
          <div class="my-course">
            <img src="assets/img/home-course-card.jpg">
            <h4>دوره زبان انگلیسی سطح B1</h4>
            <a href="course.html">مطالعه دوره آموزشی</a>
            <p>خریداری شده</p>
          </div>
          <div class="my-course">
            <img src="assets/img/home-course-card.jpg">
            <h4>دوره زبان انگلیسی سطح B1</h4>
            <a href="course.html">مطالعه دوره آموزشی</a>
            <p>خریداری شده</p>
          </div>
          <div class="my-course">
            <img src="assets/img/home-course-card.jpg">
            <h4>دوره زبان انگلیسی سطح B1</h4>
            <a href="course.html">مطالعه دوره آموزشی</a>
            <p>خریداری شده</p>
          </div>
          <div class="my-course">
            <img src="assets/img/home-course-card.jpg">
            <h4>دوره زبان انگلیسی سطح B1</h4>
            <a href="course.html">مطالعه دوره آموزشی</a>
            <p>خریداری شده</p>
          </div>
          <div class="my-course">
            <img src="assets/img/home-course-card.jpg">
            <h4>دوره زبان انگلیسی سطح B1</h4>
            <a href="course.html">مطالعه دوره آموزشی</a>
            <p>خریداری شده</p>
          </div>
        </div>
      </div>
    </section>
    
    <script src="assets/js/dashboard.js" defer></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
  </html>
  