$main: #F9A135;
$secondary: #575757;
$dark-back: #1D1D28;
$dark-box: #28293D;

@font-face {
    font-family: lalezar;
    src: url(fonts/Lalezar-Regular.woff);
}

@font-face {
    font-family: vazir;
    src: url(fonts/Vazir-Regular.woff);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
