@media screen and (min-width: 300px) {
    section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // menu
      div.dashboard-menu {
        width: 50%;
        height: 100vh;
        background-color: $dark-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-family: vazir;
        padding: 15px;
        box-sizing: border-box;
        transition: 500ms ease-in-out;
        position: fixed;
        z-index: 10;
        top: 0;
        right: -100%;
        div.logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20%;
            margin: 10px;
          }
          h1 {
            font-size: 3vw;
            font-weight: 900;
            color: $main;
            margin-top: 5px;
          }
        }
        div.menu {
          text-align: right;
          div {
            margin: 0px;
            padding: 3px;
            text-align: right;
            i {
              font-size: 1.3vw;
              color: white;
              margin: 0 5px;
              text-align: right;
            }
            a {
              text-decoration: none;
              color: white;
              font-size: 3.3vw;
            }
            .active {
              color: $main;
            }
          }
          div:hover a {
            color: $main;
          }
          div:hover i {
            color: $main;
          }
        }
        div.logout {
          text-align: center;
          width: 90%;
          background-color: $dark-back;
          border-radius: 10px;
          margin: 0 auto 70px auto;
          padding: 15px;
          box-sizing: border-box;
          h3 {
            color: white;
            font-weight: 600;
            font-size: 2.3vw;
          }
          p {
            color: lightgray;
            font-size: 2vw;
          }
          button {
            color: red;
            border: 0;
            background-color: transparent;
            font-size: 2.2vw;
            font-weight: 900;
          }
        }
      }
      // dashboard page
      div.dashboard-page {
        width: 100%;
        height: 100vh;
        background-color: $dark-back;
        padding: 15px;
        box-sizing: border-box;
        font-family: vazir;
        overflow: scroll;
        div.welcome {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: $dark-box;
          p {
            color: white;
            font-weight: 900;
            font-size: 2.5vw;
            margin-top: 10px;
          }
          div.nav-links {
            a {
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              background-color: $dark-back;
            }
            a:hover {
              color: $main;
            }
            button.burger{
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              border: 0;
              background-color: $dark-back;
            }
          }
        }
        div.courses {
          width: 100%;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          div.courses-card {
            width: 47%;
            background-color: $dark-box;
            border-radius: 7px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;
            margin-top: 5px;
            i {
              color: white;
              font-size: 2.2vw;
              padding: 15px 18px;
              background-color: $main;
              margin: 10px;
              border-radius: 5px;
              box-shadow: 0 0 7px $main;
            }
            div {
              margin-top: 15px;
              h3 {
                font-size: 2.2vw;
                color: white;
              }
              p {
                font-size: 2vw;
                color: $main;
              }
            }
          }
        }
        div.alerts {
          margin-top: 20px;
          h3 {
            font-size: 2.2vw;
            font-family: 900;
            text-align: right;
            color: white;
          }
          div.alert-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
              color: white;
              font-size: 2.3vw;
              background-color: $main;
              padding: 16px 20px;
              box-shadow: 0 0 7px $main;
              border-radius: 10px;
            }
            p {
              padding: 15px;
              border-radius: 10px;
              font-size: 2.3vw;
              background-color: $dark-box;
              color: white;
              width: 82%;
              margin-top: 12px;
            }
          }
          div.alert {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            span {
              padding: 15px 18px;
              font-size: 2.3vw;
              font-weight: 900;
              background-color: $dark-box;
              border-radius: 10px;
              color: white;
            }
            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 10px;
              background-color: $dark-box;
              width: 82%;
              border-radius: 10px;
              p {
                font-size: 2vw;
                color: gray;
                margin-top: 12px;
              }
              button.delet {
                border: 0;
                background-color: transparent;
                i {
                  color: white;
                  font-size: 2.3vw;
                }
              }
            }
          }
        }
      }
      div.dashboard-page::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
@media screen and (min-width: 576px) {
    section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // menu
      div.dashboard-menu {
        width: 40%;
        height: 100vh;
        background-color: $dark-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-family: vazir;
        padding: 15px;
        box-sizing: border-box;
        transition: 500ms ease-in-out;
        position: fixed;
        z-index: 10;
        top: 0;
        right: -100%;
        div.logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20%;
            margin: 10px;
          }
          h1 {
            font-size: 3vw;
            font-weight: 900;
            color: $main;
            margin-top: 5px;
          }
        }
        div.menu {
          text-align: right;
          div {
            margin: 0px;
            padding: 3px;
            text-align: right;
            i {
              font-size: 1.3vw;
              color: white;
              margin: 0 5px;
              text-align: right;
            }
            a {
              text-decoration: none;
              color: white;
              font-size: 2.3vw;
            }
            .active {
              color: $main;
            }
          }
          div:hover a {
            color: $main;
          }
          div:hover i {
            color: $main;
          }
        }
        div.logout {
          text-align: center;
          width: 90%;
          background-color: $dark-back;
          border-radius: 10px;
          margin: 0 auto;
          padding: 15px;
          box-sizing: border-box;
          h3 {
            color: white;
            font-weight: 600;
            font-size: 1.3vw;
          }
          p {
            color: lightgray;
            font-size: 1vw;
          }
          button {
            color: red;
            border: 0;
            background-color: transparent;
            font-size: 1.2vw;
            font-weight: 900;
          }
        }
      }
      // dashboard page
      div.dashboard-page {
        width: 100%;
        height: 100vh;
        background-color: $dark-back;
        padding: 15px;
        box-sizing: border-box;
        font-family: vazir;
        overflow: scroll;
        div.welcome {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: $dark-box;
          p {
            color: white;
            font-weight: 900;
            font-size: 2.5vw;
            margin-top: 10px;
          }
          div.nav-links {
            a {
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              background-color: $dark-back;
            }
            a:hover {
              color: $main;
            }
            button.burger{
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              border: 0;
              background-color: $dark-back;
            }
          }
        }
        div.courses {
          width: 100%;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          div.courses-card {
            width: 47%;
            background-color: $dark-box;
            border-radius: 7px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;
            margin-top: 5px;
            i {
              color: white;
              font-size: 2.2vw;
              padding: 15px 18px;
              background-color: $main;
              margin: 10px;
              border-radius: 5px;
              box-shadow: 0 0 7px $main;
            }
            div {
              margin-top: 15px;
              h3 {
                font-size: 2.2vw;
                color: white;
              }
              p {
                font-size: 2vw;
                color: $main;
              }
            }
          }
        }
        div.alerts {
          margin-top: 20px;
          h3 {
            font-size: 2.2vw;
            font-family: 900;
            text-align: right;
            color: white;
          }
          div.alert-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
              color: white;
              font-size: 2.3vw;
              background-color: $main;
              padding: 16px 20px;
              box-shadow: 0 0 7px $main;
              border-radius: 10px;
            }
            p {
              padding: 15px;
              border-radius: 10px;
              font-size: 2.3vw;
              background-color: $dark-box;
              color: white;
              width: 90%;
              margin-top: 12px;
            }
          }
          div.alert {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            span {
              padding: 15px 18px;
              font-size: 2.3vw;
              font-weight: 900;
              background-color: $dark-box;
              border-radius: 10px;
              color: white;
            }
            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 10px;
              background-color: $dark-box;
              width: 90%;
              border-radius: 10px;
              p {
                font-size: 2vw;
                color: gray;
                margin-top: 12px;
              }
              button.delet {
                border: 0;
                background-color: transparent;
                i {
                  color: white;
                  font-size: 2.3vw;
                }
              }
            }
          }
        }
      }
      div.dashboard-page::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
@media screen and (min-width: 768px) {
    section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // menu
      div.dashboard-menu {
        width: 20%;
        height: 100vh;
        background-color: $dark-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-family: vazir;
        padding: 15px;
        box-sizing: border-box;
        position: relative;
        top: 0;
        right: 0;
        div.logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20%;
            margin: 10px;
          }
          h1 {
            font-size: 2vw;
            font-weight: 900;
            color: $main;
            margin-top: 5px;
          }
        }
        div.menu {
          text-align: right;
          div {
            margin: 5px;
            padding: 5px;
            text-align: right;
            i {
              font-size: 1.3vw;
              color: white;
              margin: 0 10px;
              text-align: right;
            }
            a {
              text-decoration: none;
              color: white;
              font-size: 1.3vw;
            }
            .active {
              color: $main;
            }
          }
          div:hover a {
            color: $main;
          }
          div:hover i {
            color: $main;
          }
        }
        div.logout {
          text-align: center;
          width: 90%;
          background-color: $dark-back;
          border-radius: 10px;
          margin: 0 auto;
          padding: 15px;
          box-sizing: border-box;
          h3 {
            color: white;
            font-weight: 600;
            font-size: 1.3vw;
          }
          p {
            color: lightgray;
            font-size: 1vw;
          }
          button {
            color: red;
            border: 0;
            background-color: transparent;
            font-size: 1.2vw;
            font-weight: 900;
          }
        }
      }
      // dashboard page
      div.dashboard-page {
        width: 80%;
        height: 100vh;
        background-color: $dark-back;
        padding: 15px;
        box-sizing: border-box;
        font-family: vazir;
        overflow: scroll;
        div.welcome {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: $dark-box;
          p {
            color: white;
            font-weight: 900;
            font-size: 1.5vw;
            margin-top: 10px;
          }
          div.nav-links {
            a {
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              background-color: $dark-back;
            }
            a:hover {
              color: $main;
            }
            button.burger{
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              border: 0;
              background-color: $dark-back;
            }
          }
        }
        div.courses {
          width: 100%;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          div.courses-card {
            width: 23%;
            background-color: $dark-box;
            border-radius: 7px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 5px;
            i {
              color: white;
              font-size: 1.2vw;
              padding: 15px 18px;
              background-color: $main;
              margin: 10px;
              border-radius: 5px;
              box-shadow: 0 0 7px $main;
            }
            div {
              margin-top: 15px;
              h3 {
                font-size: 1.2vw;
                color: white;
              }
              p {
                font-size: 1vw;
                color: $main;
              }
            }
          }
        }
        div.alerts {
          margin-top: 20px;
          h3 {
            font-size: 1.2vw;
            font-family: 900;
            text-align: right;
            color: white;
          }
          div.alert-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
              color: white;
              font-size: 1.3vw;
              background-color: $main;
              padding: 16px 20px;
              box-shadow: 0 0 7px $main;
              border-radius: 10px;
            }
            p {
              padding: 15px;
              border-radius: 10px;
              font-size: 1.3vw;
              background-color: $dark-box;
              color: white;
              width: 90%;
              margin-top: 12px;
            }
          }
          div.alert {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            span {
              padding: 15px 18px;
              font-size: 1.3vw;
              font-weight: 900;
              background-color: $dark-box;
              border-radius: 10px;
              color: white;
            }
            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 10px;
              background-color: $dark-box;
              width: 90%;
              border-radius: 10px;
              p {
                font-size: 1vw;
                color: gray;
                margin-top: 12px;
              }
              button.delet {
                border: 0;
                background-color: transparent;
                i {
                  color: white;
                  font-size: 1.3vw;
                }
              }
            }
          }
        }
      }
      div.dashboard-page::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
@media screen and (min-width: 1024px) {
    section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // menu
      div.dashboard-menu {
        width: 20%;
        height: 100vh;
        background-color: $dark-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-family: vazir;
        padding: 15px;
        box-sizing: border-box;
        position: relative;
        top: 0;
        right: 0;
        div.logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20%;
            margin: 10px;
          }
          h1 {
            font-size: 2vw;
            font-weight: 900;
            color: $main;
            margin-top: 5px;
          }
        }
        div.menu {
          text-align: right;
          div {
            margin: 5px;
            padding: 5px;
            text-align: right;
            i {
              font-size: 1.3vw;
              color: white;
              margin: 0 10px;
              text-align: right;
            }
            a {
              text-decoration: none;
              color: white;
              font-size: 1.3vw;
            }
            .active {
              color: $main;
            }
          }
          div:hover a {
            color: $main;
          }
          div:hover i {
            color: $main;
          }
        }
        div.logout {
          text-align: center;
          width: 90%;
          background-color: $dark-back;
          border-radius: 10px;
          margin: 0 auto;
          padding: 15px;
          box-sizing: border-box;
          h3 {
            color: white;
            font-weight: 600;
            font-size: 1.3vw;
          }
          p {
            color: lightgray;
            font-size: 1vw;
          }
          button {
            color: red;
            border: 0;
            background-color: transparent;
            font-size: 1.2vw;
            font-weight: 900;
          }
        }
      }
      // dashboard page
      div.dashboard-page {
        width: 80%;
        height: 100vh;
        background-color: $dark-back;
        padding: 15px;
        box-sizing: border-box;
        font-family: vazir;
        overflow: scroll;
        div.welcome {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: $dark-box;
          p {
            color: white;
            font-weight: 900;
            font-size: 1.5vw;
            margin-top: 10px;
          }
          div.nav-links {
            a {
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              background-color: $dark-back;
            }
            a:hover {
              color: $main;
            }
            button.burger{
              color: white;
              padding: 10px 15px;
              text-decoration: none;
              margin: 5px;
              border-radius: 5px;
              border: 0;
              background-color: $dark-back;
            }
          }
        }
        div.courses {
          width: 100%;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          div.courses-card {
            width: 23%;
            background-color: $dark-box;
            border-radius: 7px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;
            margin-top: 5px;
            i {
              color: white;
              font-size: 1.2vw;
              padding: 15px 18px;
              background-color: $main;
              margin: 10px;
              border-radius: 5px;
              box-shadow: 0 0 7px $main;
            }
            div {
              margin-top: 15px;
              h3 {
                font-size: 1.2vw;
                color: white;
              }
              p {
                font-size: 1vw;
                color: $main;
              }
            }
          }
        }
        div.alerts {
          margin-top: 20px;
          h3 {
            font-size: 1.2vw;
            font-family: 900;
            text-align: right;
            color: white;
          }
          div.alert-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
              color: white;
              font-size: 1.3vw;
              background-color: $main;
              padding: 16px 20px;
              box-shadow: 0 0 7px $main;
              border-radius: 10px;
            }
            p {
              padding: 15px;
              border-radius: 10px;
              font-size: 1.3vw;
              background-color: $dark-box;
              color: white;
              width: 92%;
              margin-top: 12px;
            }
          }
          div.alert {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            span {
              padding: 15px 18px;
              font-size: 1.3vw;
              font-weight: 900;
              background-color: $dark-box;
              border-radius: 10px;
              color: white;
            }
            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 10px;
              background-color: $dark-box;
              width: 92%;
              border-radius: 10px;
              p {
                font-size: 1vw;
                color: gray;
                margin-top: 12px;
              }
              button.delet {
                border: 0;
                background-color: transparent;
                i {
                  color: white;
                  font-size: 1.3vw;
                }
              }
            }
          }
        }
      }
      div.dashboard-page::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
@media screen and (min-width: 1200px) {
  section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // menu
    div.dashboard-menu {
      width: 20%;
      height: 100vh;
      background-color: $dark-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      font-family: vazir;
      padding: 15px;
      box-sizing: border-box;
      position: relative;
      top: 0;
      right: 0;
      div.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 20%;
          margin: 10px;
        }
        h1 {
          font-size: 2vw;
          font-weight: 900;
          color: $main;
          margin-top: 5px;
        }
      }
      div.menu {
        text-align: right;
        div {
          margin: 5px;
          padding: 5px;
          text-align: right;
          i {
            font-size: 1.3vw;
            color: white;
            margin: 0 10px;
            text-align: right;
          }
          a {
            text-decoration: none;
            color: white;
            font-size: 1.3vw;
          }
          .active {
            color: $main;
          }
        }
        div:hover a {
          color: $main;
        }
        div:hover i {
          color: $main;
        }
      }
      div.logout {
        text-align: center;
        width: 90%;
        background-color: $dark-back;
        border-radius: 10px;
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
        h3 {
          color: white;
          font-weight: 600;
          font-size: 1.3vw;
        }
        p {
          color: lightgray;
          font-size: 1vw;
        }
        button {
          color: red;
          border: 0;
          background-color: transparent;
          font-size: 1.2vw;
          font-weight: 900;
        }
      }
    }
    // dashboard page
    div.dashboard-page {
      width: 80%;
      height: 100vh;
      background-color: $dark-back;
      padding: 15px;
      box-sizing: border-box;
      font-family: vazir;
      overflow: scroll;
      div.welcome {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: $dark-box;
        p {
          color: white;
          font-weight: 900;
          font-size: 1.5vw;
          margin-top: 10px;
        }
        div.nav-links {
          a {
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            margin: 5px;
            border-radius: 5px;
            background-color: $dark-back;
          }
          a:hover {
            color: $main;
          }
          button.burger{
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            margin: 5px;
            border-radius: 5px;
            border: 0;
            background-color: $dark-back;
          }
        }
      }
      div.courses {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.courses-card {
          width: 23%;
          background-color: $dark-box;
          border-radius: 7px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 15px;
          box-sizing: border-box;
          margin-top: 5px;
          i {
            color: white;
            font-size: 1.2vw;
            padding: 15px 18px;
            background-color: $main;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 0 7px $main;
          }
          div {
            margin-top: 15px;
            h3 {
              font-size: 1.2vw;
              color: white;
            }
            p {
              font-size: 1vw;
              color: $main;
            }
          }
        }
      }
      div.alerts {
        margin-top: 20px;
        h3 {
          font-size: 1.2vw;
          font-family: 900;
          text-align: right;
          color: white;
        }
        div.alert-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          i {
            color: white;
            font-size: 1.3vw;
            background-color: $main;
            padding: 16px 20px;
            box-shadow: 0 0 7px $main;
            border-radius: 10px;
          }
          p {
            padding: 15px;
            border-radius: 10px;
            font-size: 1.3vw;
            background-color: $dark-box;
            color: white;
            width: 92%;
            margin-top: 12px;
          }
        }
        div.alert {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0;
          span {
            padding: 15px 18px;
            font-size: 1.3vw;
            font-weight: 900;
            background-color: $dark-box;
            border-radius: 10px;
            color: white;
          }
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            background-color: $dark-box;
            width: 92%;
            border-radius: 10px;
            p {
              font-size: 1vw;
              color: gray;
              margin-top: 12px;
            }
            button.delet {
              border: 0;
              background-color: transparent;
              i {
                color: white;
                font-size: 1.3vw;
              }
            }
          }
        }
      }
    }
    div.dashboard-page::-webkit-scrollbar {
      display: none;
    }
  }
}
